body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}


header {
  background: #e3e3e3;
  padding: 0.5px 0;
}

header h3{
  margin-left: 20px;
  font-weight: 500;
}

main {
  margin: 0;
  min-height: 90vh;
  height: auto;
  background-color: white;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40vw;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 10px;
  background-color: white;
  margin-top: 20px
}

.search-bar:focus-within {
  border: 2px solid rgb(255, 121, 43);
}


#search-input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 0 10px;
}

#search-input::placeholder {
  color: #888;
  transition: color 0.3s ease;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  transition: opacity 0.3s ease;
  opacity: 0.5; 
}


.icon:hover {
  opacity: 1;
}


.magnify {
  margin-right: 10px;
}

.cross {
  margin: 0px 10;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  transition: opacity 0.3s ease;
}
.loading1 img {
  width: 50px; 
  display: block;
  margin: 10px auto 0;
}
.loading2 img {
  width: 50px; 
  display: block;
  margin: 10px auto 0;
}

.result-list {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  padding: 5px 0px;
  white-space: nowrap;
  margin-top: 20px;
  width: 60vw;
  height: (100vh / 4);
}

.result-list::-webkit-scrollbar:horizontal {
  height: 5px;
}

.result-list::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.result-list::-webkit-scrollbar-thumb:hover {
  background-color: lightgray;
}


.result-card {
  flex: 0 0 auto;
  width: calc(100% / 4); 
  text-align: center;
  background-color: #205375;
  cursor: pointer;
  padding: 10px 0px;
  color: white;
  word-wrap: break-word;   
  overflow-wrap: break-word; 
}

.result-card p {
  max-width: 100%; 
  word-wrap: break-word; 
  overflow-wrap: break-word;
  white-space: normal; 
  line-height: 1.2; 
  padding: 5px;
}

.result-card:hover {
  background-color: #112B3C;
}

.result-card.selected {
  background-color: #112B3C;
}

.result-card img {
  width: 10vw;
  height: 10vw;
  border-radius: 50%; 
  border: 2px solid white;
}

.result-card p {
  margin-top: 10px;
  font-size: 1rem;
  color: white;
}


.no-results {
  margin: 20px auto;
  text-align: center;
  padding: 10px;
  background-color: #cccccc;
  border-radius: 20px;
  width: 45vw;
  font-size: 16px;
  color: #333;
  margin-top: 50px;
}

.artist-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  width: 55vw;
}

.artist-container h4 {
  margin: 0;
  font-weight: 500;
}

.artist-info {
  display: flex;
  justify-content: center;
}

.artist-info h3 {
  padding: 0px 5px;
  margin: 0;
  font-weight: 500;
}

.artist-container .biography {
  margin: 0;
  text-align: justify;
  margin-bottom: 50px;
}


/* Footer Styles */
footer {
  background: #222;
  padding: 2px;
  color: white;
  text-align: center;
}

footer a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-content p{
  margin: 10px 0px;
  font-weight: 300;
}
.footer-content img{
  width: 1rem;
  height: 1rem;
  padding: 6px;
}